h1
{ color: blue;
}

body 
{ background-image: url("GetNeuroFuelX.JPEG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
